@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-50: #ebffff;
  --color-primary-100: #cefdff;
  --color-primary-200: #a2f9ff;
  --color-primary-300: #63f2fd;
  --color-primary-400: #1ce0f4;
  --color-primary-500: #00b7cc;
  --color-primary-600: #039cb7;
  --color-primary-700: #0a7c94;
  --color-primary-800: #126378;
  --color-primary-900: #145265;
  --color-primary-950: #063746;

  --color-secondary-50: #fef3f2;
  --color-secondary-100: #ffe3e1;
  --color-secondary-200: #ffd0cc;
  --color-secondary-300: #feaaa3;
  --color-secondary-400: #fb796e;
  --color-secondary-500: #f24f41;
  --color-secondary-600: #e03122;
  --color-secondary-700: #bc2619;
  --color-secondary-800: #9b2319;
  --color-secondary-900: #81231b;
  --color-secondary-950: #460e09;

  --color-accent-50: #fef1f6;
  --color-accent-100: #fee5f0;
  --color-accent-200: #ffcbe3;
  --color-accent-300: #ffa1ca;
  --color-accent-400: #ff6fa9;
  --color-accent-500: #fa3a82;
  --color-accent-600: #ea185c;
  --color-accent-700: #cc0a44;
  --color-accent-800: #a80c38;
  --color-accent-900: #8c0f32;
  --color-accent-950: #560119;

  --color-white-50: #fafafa;
  --color-black-900: #212121;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

root {
  --space-xs: 0.25em;
  --space-small: 0.5em;
  --space-med: 1em;
  --space-large: 1.25em;
  --space-xl: 1.5em;
  --space-xxl: 2em;
}

/* Margins */
.margin-x-xs {
  margin-inline: var(--space-xs);
}

.margin-x-small {
  margin-inline: var(--space-small);
}

.margin-x-med {
  margin-inline: var(--space-med);
}

.margin-x-large {
  margin-inline: var(--space-large);
}

.margin-x-xl {
  margin-inline: var(--space-xl);
}

.margin-x-xxl {
  margin-inline: var(--space-xxl);
}

.margin-left-xs {
  margin-inline-start: var(--space-xs);
}
.margin-left-small {
  margin-inline-start: var(--space-small);
}
.margin-left-med {
  margin-inline-start: var(--space-med);
}
.margin-left-large {
  margin-inline-start: var(--space-large);
}
.margin-left-xl {
  margin-inline-start: var(--space-xl);
}
.margin-left-xxl {
  margin-inline-start: var(--space-xxl);
}

.margin-right-xs {
  margin-inline-end: var(--space-xs);
}
.margin-right-small {
  margin-inline-end: var(--space-small);
}
.margin-right-med {
  margin-inline-end: var(--space-med);
}
.margin-right-large {
  margin-inline-end: var(--space-large);
}
.margin-right-xl {
  margin-inline-end: var(--space-xl);
}
.margin-right-xxl {
  margin-inline-end: var(--space-xxl);
}

.margin-y-xs {
  margin-block: var(--space-xs);
}
.margin-y-small {
  margin-block: var(--space-small);
}
.margin-y-med {
  margin-block: var(--space-med);
}
.margin-y-large {
  margin-block: var(--space-large);
}
.margin-y-xl {
  margin-block: var(--space-xl);
}
.margin-y-xxl {
  margin-block: var(--space-xxl);
}

.margin-top-xs {
  margin-block-start: var(--space-xs);
}
.margin-top-small {
  margin-block-start: var(--space-small);
}
.margin-top-med {
  margin-block-start: var(--space-med);
}
.margin-top-large {
  margin-block-start: var(--space-large);
}
.margin-top-xl {
  margin-block-start: var(--space-xl);
}
.margin-top-xxl {
  margin-block-start: var(--space-xxl);
}

.margin-bottom-xs {
  margin-block-end: var(--space-xs);
}
.margin-bottom-small {
  margin-block-end: var(--space-small);
}
.margin-bottom-med {
  margin-block-end: var(--space-med);
}
.margin-bottom-large {
  margin-block-end: var(--space-large);
}
.margin-bottom-xl {
  margin-block-end: var(--space-xl);
}
.margin-bottom-xxl {
  margin-block-end: var(--space-xxl);
}

/* Paddings */
.padding-x-xs {
  padding-inline: var(--space-xs);
}

.padding-x-small {
  padding-inline: var(--space-small);
}

.padding-x-med {
  padding-inline: var(--space-med);
}

.padding-x-large {
  padding-inline: var(--space-large);
}

.padding-x-xl {
  padding-inline: var(--space-xl);
}
.padding-x-xxl {
  padding-inline: var(--space-xxl);
}

.padding-left-xs {
  padding-inline-start: var(--space-xs);
}
.padding-left-small {
  padding-inline-start: var(--space-small);
}
.padding-left-med {
  padding-inline-start: var(--space-med);
}
.padding-left-large {
  padding-inline-start: var(--space-large);
}
.padding-left-xl {
  padding-inline-start: var(--space-xl);
}
.padding-left-xxl {
  padding-inline-start: var(--space-xxl);
}

.padding-right-xs {
  padding-inline-end: var(--space-xs);
}
.padding-right-small {
  padding-inline-end: var(--space-small);
}
.padding-right-med {
  padding-inline-end: var(--space-med);
}
.padding-right-large {
  padding-inline-end: var(--space-large);
}
.padding-right-xl {
  padding-inline-end: var(--space-xl);
}
.padding-right-xxl {
  padding-inline-end: var(--space-xxl);
}

.padding-y-xs {
  padding-block: var(--space-xs);
}
.padding-y-small {
  padding-block: var(--space-small);
}
.padding-y-med {
  padding-block: var(--space-med);
}
.padding-y-large {
  padding-block: var(--space-large);
}
.padding-y-xl {
  padding-block: var(--space-xl);
}
.padding-y-xxl {
  padding-block: var(--space-xxl);
}

.padding-top-xs {
  padding-block-start: var(--space-xs);
}
.padding-top-small {
  padding-block-start: var(--space-small);
}
.padding-top-med {
  padding-block-start: var(--space-med);
}
.padding-top-large {
  padding-block-start: var(--space-large);
}
.padding-top-xl {
  padding-block-start: var(--space-xl);
}
.padding-top-xxl {
  padding-block-start: var(--space-xxl);
}

.padding-bottom-xs {
  padding-block-end: var(--space-xs);
}
.padding-bottom-small {
  padding-block-end: var(--space-small);
}
.padding-bottom-med {
  padding-block-end: var(--space-med);
}
.padding-bottom-large {
  padding-block-end: var(--space-large);
}
.padding-bottom-xl {
  padding-block-end: var(--space-xl);
}
.padding-bottom-xxl {
  padding-block-end: var(--space-xxl);
}

/* Body */
body {
  color: #212121;
  font-size: 1.25rem;
}

/* Headings */
h1,
.xxl {
  font-size: 2.441rem;
}
h2,
.xl {
  font-size: 1.953rem;
}

h3,
.lar {
  font-size: 1.563rem;
}
.med {
  font-size: 1.25rem;
}
.sma {
  font-size: 1.333em;
}

small {
  font-size: 1.125rem;
}
.xs {
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin-block-start: var(--space-med);
  margin-block-end: var(--space-xs);
}

/
  /* Lists */
  ul,
  ol {
  padding-inline-start: 0.7ch;
  margin-inline-start: -0.7ch;
}

li {
  margin-block: var(--space-small);
  /*   padding-inline: var(--space-small); */
}

li::marker {
  color: #8c0f32;
}

ul {
  list-style-type: disc;
}

ul > li > ul {
  list-style-type: circle;
  padding-inline-start: var(--space-med);
}

ol {
  list-style-type: decimal;
}

ol > li > ol {
  list-style-type: lower-alpha;
  padding-inline-start: var(--space-med);
}

/* Paragraphs */
p {
  margin-block: var(--space-med);
  /*  padding-inline: var(--space-xs); */
  /*   margin-block-end:1em; */
}

/* Blockquote */
/* blockquote {
    border-left: 3px solid #a60b41;
    padding-inline: var(--space-xs);
  } */

.attribution {
  background-color: #ffd0cc;
  padding: var(--space-xs);
  filter: drop-shadow(#ff6fa9 var(--space-small) var(--space-small) 0);
  color: #000;
}

/* Buttons */
button {
  padding-inline: var(--space-xl);
  padding-block: var(--space-small);
  border: 5px solid #ff6fa9;
  background-color: #ffd0cc;
  color: #000;
  transition: color 0.3s ease-out;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

button:hover {
  background-color: #ff6fa9;
  color: #fff;
}

/* Links */

a {
  text-decoration: underline;
  color: #000;
}

a:hover {
  color: #063746;
}

/* a:visited {
    color: #4314bf;
  } */
