---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Home"
      description="Affordable web design for personal websites and blogs"
    />
  </head>
  <body class="prose prose-lg">
    <Header />
    <Hero />
    <Footer />
  </body>
</html>
